@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Russo+One&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.container {
  background-color: #ffffff;
  width: 1440px;
  height: 570px;
  padding-top: 120px;
}
.offer {
  font-weight: 500;
  font-size: 40px;
  height: 47px;
  margin: 0 567px;
}

.line {
  border: 2px solid #f5bd41;
  background-color: #f5bd41;
  width: 100px;
  margin-top: 20px;
}

.container-1 {
  display: flex;
  margin: 84px 139px 122px 181px;
  align-items: center;
  justify-content: space-between;
}
.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage-image-1 {
  padding-bottom: 52px;
}
.advantage-image-2 {
  padding-bottom: 56px;
}
.advantage-image-3 {
  padding-bottom: 65px;
}
.advantage-image-4 {
  padding-bottom: 60px;
}
.advantage-title {
  font-weight: 400;
  font-size: 24px;
}
