@import url(./fonts.css);

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.17;
  box-sizing: border-box;
  margin: 0;
}

.main {
  background-image: url("../images/castelmezzano.png");
  min-height: 100vh;
  max-width: 1440px;
  background-repeat: no-repeat;
  padding: 51px 0 120px 104px;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1232px;
  height: 46px;
  margin-bottom: 196px;
}

.triphouse-logo {
  width: 205px;
  height: 40px;
}

.menu {
  display: flex;
  width: 344px;
}

.header-text {
  color: #ffffff;
  font-size: 24px;
  margin-top: 6px;
}

.stays {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  margin-right: 24px;
}

.stays-line {
  height: 4px;
  width: 50px;
  margin-bottom: 0;
  margin-top: 8px;
  background-color: #f5bd41;
  border: 0;
}

.night-img {
  height: 30px;
  width: 30px;
  margin-left: 48px;
  margin-top: 5px;
}

.account-img {
  height: 40px;
  width: 40px;
  margin-left: 24px;
  margin-top: 0;
}

.main-block {
  max-width: 1232px;
  height: 488px;
}

.discover {
  width: 542px;
  height: 118px;
  margin-bottom: 100px;
  color: #ffffff;
  font-weight: 500;
  font-size: 50px;
}

.search-header {
  display: flex;
  justify-content: space-between;
  width: 664px;
  margin-bottom: 24px;
}

.search-header-text {
  color: #ffffff;
  font-size: 18px;
  margin-left: 24px;
}

.searching-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  max-width: 1232px;
  background-color: #ffffff;
  border-left: 3px solid #f3f3f4;
  border-top: 3px solid #f3f3f4;
  border-bottom: 3px solid #f3f3f4;
  border-radius: 8px;
}

.searching-form-input {
  height: 58px;
  border: 0;
  font-size: 18px;
  color: #383838;
  padding-left: 24px;
  box-sizing: border-box;
  outline: none;
  background-color: #ffffff;
}

.destination {
  width: 466px;
  border: 0;
  border-radius: 8px;
}

.dates {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 260px;
  border: 3px solid #f5bd41;
  border-radius: 8px;
}

.people {
  display: flex;
  align-items: center;
  width: 314px;
}

.button {
  height: 64px;
  width: 192px;
  background: #3077c6;
  border-radius: 8px;
  border: 0;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.apps {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  max-width: 1440px;
  height: 280px;
}

.container {
  background-color: #ffffff;
  max-width: 1440px;
  height: 570px;
}

.offer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 189px;
  padding-top: 120px;
}

.offer-title {
  font-weight: 500;
  font-size: 40px;
  height: 47px;
  margin: 0 auto;
  width: 306px;
}

.offer-line {
  height: 4px;
  width: 100px;
  margin: 18px auto 0;
  background-color: #f5bd41;
}

.advantages {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  height: 254px;
  width: 1232px;
}

.advantages-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 84px;
  width: 296px;
}

.advantages-title {
  font-size: 24px;
  height: 28px;
  margin-bottom: 0;
}

.support-img {
  width: 75px;
  height: 92px;
}

.messenger-img {
  width: 84px;
  height: 84px;
}

.book-online-img {
  width: 100px;
  height: 67px;
}

.reviews-img {
  width: 92px;
  height: 84px;
}

.footer {
  background-color: #10367c;
  max-width: 1440px;
  height: 625px;
  padding: 120px 0 120px 104px;
}

.footer-block {
  display: flex;
  flex-direction: row;
  width: 1248px;
  height: 305px;
  margin-bottom: 64px;
}

.footer-card {
  width: 416px;
}

.footer-text {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 24px;
}

.footer-header {
  font-weight: 500;
}

.all-rights-reserved {
  font-size: 14px;
  color: #ffffff;
}
