@import url(./fonts.css);

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
}

.container {
  background-color: #ffffff;
  max-width: 1440px;
  height: 570px;
}

.offer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 189px;
  padding-top: 120px;
}

.offer-title {
  font-weight: 500;
  font-size: 40px;
  height: 47px;
  margin: 0 auto;
  width: 306px;
}

.offer-line {
  height: 4px;
  width: 100px;
  margin: 18px auto 0;
  background-color: #f5bd41;
}

.advantages {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  height: 254px;
  width: 1120px;
}

.advantages-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 84px;
}

.advantages-title {
  font-size: 24px;
  height: 28px;
  margin-bottom: 0;
}

.footer {
  background-color: #10367c;
  max-width: 1440px;
  height: 625px;
  padding: 120px 0 120px 104px;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  width: 1064px;
  margin-bottom: 40px;
}

.footer-text {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 24px;
}

.footer-header {
  font-weight: 500;
}

.all-rights-reserved {
  font-size: 14px;
  color: #ffffff;
}
